/* Container for the SEO form and results */
.seo-tool-container {
    max-width: 600px;
}

/* Centers the content */
.centered-content {
    text-align: center; 
}

/* Styling for the disabled state of the download link */
#download_link[aria-disabled="true"] {
    pointer-events: none;
    opacity: .65;
}
