      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a 
            class="navbar-brand" 
            href="{% url 'projects:home' %}">
            Ben Crittenden
            </a>

          <!-- mobile hamburger -->
          <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarMain" 
            aria-controls="navbarMain"
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span 
                class="navbar-toggler-icon">
            </span>
          </button>

          <!-- collapsible content -->
          <div class="collapse navbar-collapse" id="navbarMain">
            <!-- left-aligned links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <!-- single-link items -->
              <li class="nav-item"><a class="nav-link" href="{% url 'projects:all_projects' %}">All Projects</a></li>

              <!-- Glass Artist Toolkit dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'projects:glass_artist_toolkit' %}" id="glassToolsDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Glass Artist
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="glassToolsDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:kiln_schedule_generator' %}">Kiln Firing Schedule Generator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:kiln_controller_utils' %}">Kiln Controller Utilities</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:glass_volume_calculator' %}">Glass Volume & Weight Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:stained_glass_cost_estimator' %}">Stained Glass Cost Estimator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:stained_glass_materials' %}">Stained Glass Materials Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:lampwork_materials' %}">Lampwork Glass Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:glass_reaction_checker' %}">Glass Reaction Checker</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:frit_mixing_calculator' %}">Enamel & Frit Mixing Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:circle_cutter_calculator' %}">Circle Cutter Settings Calculator</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'projects:glass_artist_toolkit' %}">View All Glass Artist Tools</a></li>
                </ul>
              </li>

              <!-- Freight Professional Toolkit dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'projects:freight_tools' %}" id="freightToolsDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Freight Professional
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="freightToolsDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:freight_safety' %}">Freight Carrier Safety Reporter</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:partial_rate_calculator' %}">Partial Rate Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:deadhead_calculator' %}">Deadhead Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:multi_stop_splitter' %}">Multi-Stop Mileage Splitter</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:lane_rate_analyzer' %}">Freight Lane Rate Analyzer</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:freight_margin_calculator' %}">Margin & Gross Profit Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:freight_class_calculator' %}">Freight Class Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:linear_foot_calculator' %}">Linear Foot Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:fuel_surcharge_calculator' %}">Fuel Surcharge Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:hos_trip_planner' %}">HOS Trip Planner</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:tie_down_calculator' %}">Tie-Down Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:cost_per_mile_calculator' %}">Cost Per Mile (CPM) Calculator</a></li>   
                  <li><a class="dropdown-item" href="{% url 'projects:detention_layover_fee_calculator' %}">Detention Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:warehouse_storage_calculator' %}">Warehouse Storage Calculator</a></li>               
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'projects:freight_tools' %}">View All Freight Tools</a></li>
                </ul>
              </li>

              <!-- IT Professional Toolkit dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'projects:it_tools' %}" id="itToolsDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  IT Professional
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="itToolsDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:ssl_check' %}">SSL Verification Tool</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:ip_tool' %}">IP Address Lookup Tool</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:dns_tool' %}">DNS Lookup Tool</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:subnet_calculator' %}">Subnet / CIDR Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:email_auth_validator' %}">SPF, DKIM & DMARC Validator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:whois_lookup' %}">WHOIS Lookup Tool</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:http_header_inspector' %}">HTTP Header Inspector</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:timestamp_converter' %}">Unix Timestamp Converter</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:cron_builder' %}">Cron Expression Builder & Parser</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'projects:it_tools' %}">View All IT Tools</a></li>
                </ul>
              </li>

              <!-- SEO Professional Toolkit dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'projects:seo_tools' %}" id="seoToolsDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SEO Professional
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="seoToolsDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:font_inspector' %}">Font Inspector</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:seo_head_checker' %}">SEO Head Checker</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:cookie_audit' %}">Cookie Audit</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:jsonld_validator' %}">Structured Data / JSON-LD Validator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:robots_analyzer' %}">Robots.txt Analyzer</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:redirect_checker' %}">Redirect Chain Checker</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:og_previewer' %}">OG Previewer</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'projects:seo_tools' %}">View All SEO Tools</a></li>
                  
                </ul>
              </li>

              <!-- Radio Hobbyist Toolkit dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'projects:radio_tools' %}" id="radioToolsDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Radio Hobbyist
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="radioToolsDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:repeater_finder' %}">Repeater Finder</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:ham_radio_call_sign_lookup' %}">Ham Radio Call Sign Lookup</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:band_plan_checker' %}">Band Plan Checker</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:antenna_calculator' %}">Antenna Length Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:grid_square_converter' %}">Grid Square Converter</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:rf_exposure_calculator' %}">RF Exposure Calculator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:coax_cable_loss_calculator' %}">Coax Cable Loss Calculator</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'projects:radio_tools' %}">View All Radio Tools</a></li>
                  
                </ul>
              </li>

              <!-- Space and Astronomy dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'projects:space_and_astronomy' %}" id="spaceAstronomyDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Space & Astronomy
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="spaceAstronomyDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:iss_tracker' %}">ISS Tracker</a></li>  
                  <li><a class="dropdown-item" href="{% url 'projects:satellite_pass_predictor' %}">Satellite Pass Predictor</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:lunar_phase_calendar' %}">Lunar Phase Calendar</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:night_sky_planner' %}">Night Sky Planner</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'projects:space_and_astronomy' %}">View All Space and Astronomy Tools</a></li>
                  
                </ul>
              </li>

              <!-- More Tools dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="moreToolsDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More Tools
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreToolsDropdown">
                  <li><a class="dropdown-item" href="{% url 'projects:weather' %}">Weather Forecast</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:qr_code_generator' %}">QR Code Generator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:monte_carlo_simulator' %}">Monte Carlo Simulator</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:grade_level_analyzer' %}">Grade Level Text Analyzer</a></li>                                  
                  <li><a class="dropdown-item" href="{% url 'projects:xml_splitter' %}">XML Splitter</a></li>
                  <li><a class="dropdown-item" href="{% url 'projects:ai_api_cost_estimator' %}">AI Token & API Cost Estimator</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>