<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "DNS Lookup Tool",
        "description": "Perform DNS lookups for various DNS records including A, AAAA, MX, NS, CNAME, TXT, SOA, SRV, and CAA records.",
        "url": "https://www.bencritt.net/projects/dns-lookup/",
        "applicationCategory": "Network Utility",
        "operatingSystem": "Web-based",
        "image": "https://www.bencritt.net/static/img/all-projects/dns-lookup.webp",
        "creator": {
            "@type": "Person",
            "name": "Ben Crittenden",
            "url": "https://www.bencritt.net"
        },
        "featureList": [
            "Perform DNS lookups for various DNS record types.",
            "Retrieve detailed DNS information useful for network troubleshooting and domain management.",
            "Accessible from any web-enabled device with a user-friendly interface.",
            "Developed with Python and Django for reliable DNS resolution."
        ],
        "softwareVersion": "1.0",
        "applicationSubCategory": "Network Tools"
    }          
</script>