<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Freight Safety Tool",
        "description": "Generate safety reports and scores for freight carriers, including safety ratings, crash statistics, and driver inspections.",
        "url": "https://www.bencritt.net/projects/freight-safety/",
        "applicationCategory": "Transportation Utility",
        "operatingSystem": "Web-based",
        "image": "https://www.bencritt.net/static/img/all-projects/freight-safety.webp",
        "creator": {
          "@type": "Person",
          "name": "Ben Crittenden",
          "url": "https://www.bencritt.net"
        },
        "featureList": [
          "Generate comprehensive safety reports for freight carriers.",
          "Calculate safety scores based on crash statistics, inspections, and safety ratings.",
          "Retrieve detailed safety-related information for carriers using USDOT numbers.",
          "Accessible via any web-enabled device with a user-friendly interface.",
          "Developed with Python and Django for reliable safety report generation."
        ],
        "softwareVersion": "1.0",
        "applicationSubCategory": "Logistics & Transportation"
    }
</script>