<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Grade Level Text Analyzer",
        "description": "A web-based application to analyze text readability using Flesch-Kincaid, Gunning Fog, and Coleman-Liau indices, including uniform and weighted averages.",
        "url": "https://www.bencritt.net/projects/grade-level-analyzer/",
        "applicationCategory": "Educational Software",
        "operatingSystem": "Web-based",
        "image": "https://www.bencritt.net/static/img/all-projects/grade-level-text-analyzer.webp",
        "creator": {
          "@type": "Person",
          "name": "Ben Crittenden",
          "url": "https://www.bencritt.net"
        },
        "featureList": [
          "Calculates readability scores using Flesch-Kincaid, Gunning Fog, and Coleman-Liau indices.",
          "Provides uniform and weighted averages for comprehensive text analysis.",
          "User-friendly interface with quick processing."
        ]
      }
</script>