<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "IP Address Lookup Tool",
      "description": "The IP Address Lookup Tool enables users to perform reverse DNS lookups to retrieve PTR records for a specified IP address, providing information about the domain name associated with the IP Address.",
      "url": "https://www.bencritt.net/projects/ip-tool/",
      "applicationCategory": "Network Utility",
      "operatingSystem": "Web-based",
      "image": "https://www.bencritt.net/static/img/all-projects/ip-tool.webp",
      "creator": {
        "@type": "Person",
        "name": "Ben Crittenden",
        "url": "https://www.bencritt.net"
      },
      "featureList": [
        "Performs reverse DNS lookups to retrieve PTR records for specified IP addresses.",
        "Displays the domain name associated with an IP address, useful for network diagnostics and verification.",
        "Web-based application, accessible from any device with an internet connection.",
        "Simple and intuitive interface for entering IP addresses and viewing reverse DNS results.",
        "Built using Python and Django, utilizing powerful DNS libraries for accurate results and error handling."
      ]
    }
</script>