<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "ISS Tracker",
  "description": "The ISS Tracker allows users to monitor the International Space Station's current location and predict upcoming pass times over their location.",
  "url": "https://www.bencritt.net/projects/iss-tracker/",
  "applicationCategory": "AstronomyApplication",
  "operatingSystem": "Any",
  "image": "https://www.bencritt.net/static/img/all-projects/iss-tracker.webp",
  "creator": {
    "@type": "Person",
    "name": "Ben Crittenden",
    "url": "https://www.bencritt.net"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD",
    "category": "Free"
  },
  "featureList": [
    "Real-time data on the ISS's latitude, longitude, altitude, velocity, and region.",
    "Tracks upcoming ISS pass times with precise local time and positional information.",
    "Region detection for both land and ocean coverage.",
    "Web-based application accessible from any internet-connected device."
  ]
}
</script>