    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "CollectionPage",
          "name": "IT Professional Toolkit",
          "description": "Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.",
          "url": "https://www.bencritt.net/projects/it-tools/",
          "image": "https://www.bencritt.net/static/img/hubs/it-professional-toolkit.webp",
          "hasPart": [
            {
              "@type": "SoftwareApplication",
              "name": "DNS Lookup Tool",
              "description": "The DNS Lookup Tool allows users to perform DNS lookups for a specified domain name, retrieving various DNS records such as A, AAAA, MX, NS, CNAME, TXT, SOA, SRV, and CAA records.",
              "applicationCategory": "Network Utility",
              "url": "https://www.bencritt.net/projects/dns-tool/",
              "creator": {
                "@type": "Person",
                "name": "Ben Crittenden"
              },
              "operatingSystem": "Web-based",
              "image": "https://www.bencritt.net/static/img/all-projects/dns-lookup.webp",
              "featureList": [
                "Perform DNS lookups for various DNS record types.",
                "Retrieve detailed DNS information for network troubleshooting and domain management.",
                "Accessible from any web-enabled device with a user-friendly interface."
              ]
            },
            {
              "@type": "SoftwareApplication",
              "name": "IP Address Lookup Tool",
              "description": "The IP Address Lookup Tool enables users to perform reverse DNS lookups, retrieve PTR records, geolocation data, and blacklist status for any IP address.",
              "applicationCategory": "Network Utility",
              "url": "https://www.bencritt.net/projects/ip-tool/",
              "creator": {
                "@type": "Person",
                "name": "Ben Crittenden"
              },
              "operatingSystem": "Web-based",
              "image": "https://www.bencritt.net/static/img/all-projects/ip-tool.webp",
              "featureList": [
                "Perform reverse DNS lookups to retrieve PTR records.",
                "Retrieve geolocation and blacklist status for IP addresses.",
                "User-friendly interface accessible from any web-enabled device."
              ]
            },
            {
              "@type": "SoftwareApplication",
              "name": "SSL Verification Tool",
              "description": "The SSL Verification Tool allows users to quickly verify SSL certificates for any website, retrieving detailed information such as the certificate issuer, validity period, and expiration dates.",
              "applicationCategory": "Network Utility",
              "url": "https://www.bencritt.net/projects/ssl-check/",
              "creator": {
                "@type": "Person",
                "name": "Ben Crittenden"
              },
              "operatingSystem": "Web-based",
              "image": "https://www.bencritt.net/static/img/all-projects/ssl-check.webp",
              "featureList": [
                "Quickly verify SSL certificates for any website.",
                "Retrieve detailed SSL information including issuer, validity period, and expiration dates.",
                "Ensure your website is secure for users by verifying SSL configurations.",
                "Accessible from any web-enabled device with a user-friendly interface."
              ]
            }
          ]
        }
    </script> 