<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "Monte Carlo Simulator",
    "description": "A web-based Monte Carlo Simulator that allows users to perform simulations with one or two data ranges, generate random values, and graph the results in a downloadable PDF format.",
    "url": "https://www.bencritt.net/projects/monte-carlo-simulator/",
    "applicationCategory": "Simulation Software",
    "operatingSystem": "Web-based",
    "image": "https://www.bencritt.net/static/img/all-projects/monte-carlo-simulator.webp",
    "creator": {
      "@type": "Person",
      "name": "Ben Crittenden",
      "url": "https://www.bencritt.net"
    },
    "featureList": [
      "Supports one or two data ranges for simulation.",
      "Generates random values within specified ranges.",
      "Allows setting of target values for precise analysis.",
      "Visualizes results through graphs and exports them as PDFs.",
      "Accessible from any device without installation."
    ],
    "softwareVersion": "1.0",
    "applicationSubCategory": "Statistical Analysis"
  }      
</script>