<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "QR Code Generator",
    "description": "A web-based QR Code Generator that allows users to create QR codes from text inputs and download them as PNG files.",
    "url": "https://www.bencritt.net/projects/qr-code-generator/",
    "applicationCategory": "Utility Software",
    "operatingSystem": "Web-based",
    "image": "https://www.bencritt.net/static/img/all-projects/qr-code-generator.webp",
    "creator": {
      "@type": "Person",
      "name": "Ben Crittenden",
      "url": "https://www.bencritt.net"
    },
    "featureList": [
      "Generate QR codes from any text input.",
      "Download QR codes as high-quality PNG files.",
      "User-friendly interface for easy operation.",
      "Instantly save QR codes to your default downloads folder.",
      "Accessible from any device with internet connectivity."
    ],
    "softwareVersion": "1.0",
    "applicationSubCategory": "Utility Software"
  }
</script>