<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "SSL Verification Tool",
      "description": "The SSL Verification Tool allows users to verify SSL certificates for any website, retrieving information about the certificate's issuer, validity period, and expiration dates to ensure secure online connections.",
      "url": "https://www.bencritt.net/projects/ssl-check/",
      "applicationCategory": "Network Utility",
      "operatingSystem": "Web-based",
      "image": "https://www.bencritt.net/static/img/all-projects/ssl-check.webp",
      "creator": {
        "@type": "Person",
        "name": "Ben Crittenden",
        "url": "https://www.bencritt.net"
      },
      "featureList": [
        "Quickly verifies SSL certificates for any website.",
        "Displays detailed SSL certificate information, including issuer, validity period, and expiration dates.",
        "Helps ensure websites maintain secure connections by verifying SSL configurations.",
        "Web-based application, accessible from any device with an internet connection.",
        "Simple interface for easy SSL verification."
      ],
      "softwareVersion": "1.0",
      "applicationSubCategory": "Network Security"
    }
</script>