<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "Weather Forecast App",
    "description": "A web-based application that provides detailed weather forecasts based on ZIP code input using Google Maps and OpenWeatherMap APIs.",
    "url": "https://www.bencritt.net/projects/weather/",
    "applicationCategory": "Weather Forecasting Software",
    "operatingSystem": "Web-based",
    "image": "https://www.bencritt.net/static/img/all-projects/weather.webp",
    "creator": {
      "@type": "Person",
      "name": "Ben Crittenden",
      "url": "https://www.bencritt.net"
    },
    "featureList": [
      "Accurate weather forecasts based on ZIP code input.",
      "Uses Google Maps Platform API for geographic coordinates.",
      "Fetches weather data using OpenWeatherMap One Call API.",
      "User-friendly interface with real-time weather updates.",
      "Accessible from any device with internet connection."
    ],
    "softwareVersion": "1.0",
    "applicationSubCategory": "Weather Forecasting"
  }
</script>