{% extends "projects/base.html" %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block scripts %}{% endblock scripts %}

{% block meta_tags %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
{% endblock meta_tags %}

{% block link_tags %}
{% endblock link_tags %}

{% block title %}404 | Page Not Found{% endblock title %}

{% block content %}
<div class="container-fluid py-5 text-center d-flex flex-column align-items-center justify-content-center" style="min-height: 60vh;" aria-label="404: Page Not Found">
  
  <div class="container w-100" style="max-width: 800px;">
    <img src="{% static 'img/404.webp' %}"
         alt="Spaceballs reference. Combing the desert scene." 
         class="img-fluid mb-4 rounded shadow-sm"
         style="max-height: 300px; width: auto;">
         
    <h1 class="display-4 fw-bold">404</h1>
    <p class="lead mb-5">The website has been combed, and your URL cannot be found.</p>
    
    <div class="row justify-content-center g-3">
      
      <div class="col-12 mb-2">
        <p class="text-muted">If you typed the URL manually, double-check for any typos. Otherwise, try one of these tools:</p>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:all_projects' %}" class="btn btn-outline-light w-100 h-100 py-2">
          View All Projects
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:it_tools' %}" class="btn btn-outline-light w-100 h-100 py-2">
          IT Professional Toolkit
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:seo_tools' %}" class="btn btn-outline-light w-100 h-100 py-2">
          SEO Professional Tooldkit
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:weather' %}" class="btn btn-outline-light w-100 h-100 py-2">
          Weather Forecast
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:qr_code_generator' %}" class="btn btn-outline-light w-100 h-100 py-2">
          QR Code Generator
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:home' %}" class="btn btn-primary w-100 h-100 py-2 fw-bold">
          Return Home
        </a>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}