{% extends "projects/base.html" %}
{% load static %}

{% block meta_tags %}
  {% include "includes/meta_tags/404_meta.html" %}
{% endblock meta_tags %}

{% block page_stylesheets %}
    <link href="{% static 'template_css/404.css' %}" rel="stylesheet">
{% endblock page_stylesheets %}

{% block title %}404 | Page Not Found{% endblock title %}

{% block content %}
<div class="container-fluid py-5 text-center d-flex flex-column align-items-center justify-content-center page-404" aria-label="404: Page Not Found">
  
  <div class="container w-100 error-content-container">
    <img src="{% static 'img/404.webp' %}"
         alt="Spaceballs reference. Combing the desert scene." 
         class="img-fluid mb-4 rounded shadow-sm error-image"
    >
         
    <h1 class="display-4 fw-bold">404</h1>
    <p class="lead mb-5">The website has been combed, and your URL cannot be found.</p>
    
    <div class="row justify-content-center g-3">
      
      <div class="col-12 mb-2">
        <p class="text-muted">If you typed the URL manually, double-check for any typos. Otherwise, try one of these tools:</p>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:all_projects' %}" class="btn btn-outline-light w-100 h-100 py-2">
          View All Projects
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:it_tools' %}" class="btn btn-outline-light w-100 h-100 py-2">
          IT Professional Toolkit
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:seo_tools' %}" class="btn btn-outline-light w-100 h-100 py-2">
          SEO Professional Tooldkit
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:glass_artist_toolkit' %}" class="btn btn-outline-light w-100 h-100 py-2">
          Glass Artist Toolkit
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:freight_tools' %}" class="btn btn-outline-light w-100 h-100 py-2">
          Freight Professional Toolkit
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'projects:home' %}" class="btn btn-primary w-100 h-100 py-2 fw-bold">
          Return Home
        </a>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}