<!-- SEO fundamentals -->
<meta name="description"        content="Explore Ben Crittenden's Python-based web tools. Features a complete Glass Artist Toolkit, plus tools for IT, SEO, Freight, Ham Radio, and more.">

<!-- Open Graph -->
<meta property="og:url"         content="https://www.bencritt.net/projects/">
<meta property="og:type"        content="website">
<meta property="og:title"       content="Ben Crittenden's Projects | Glass Art, IT, SEO, Freight, and More">
<meta property="og:description" content="A collection of specialized web tools. Includes the Glass Artist Toolkit (Kiln Schedules, Material Calculators), alongside IT diagnostics (DNS, IP, SSL), SEO utilities, and Freight tools.">
<meta property="og:image"       content="https://www.bencritt.net/static/img/all-projects/qr-code-generator.webp">
<meta property="og:image:type"  content="image/webp">
<meta property="og:image:alt"   content="Ben Crittenden's Projects Preview Image">
<meta property="og:site_name"   content="bencritt.net">

<!-- Twitter -->
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:domain"      content="bencritt.net">
<meta name="twitter:url"         content="https://www.bencritt.net/projects/">
<meta name="twitter:title"       content="Ben Crittenden's Projects | Glass Art, IT, SEO, Freight, and More">
<meta name="twitter:description" content="A collection of specialized web tools. Includes the Glass Artist Toolkit (Kiln Schedules, Material Calculators), alongside IT diagnostics (DNS, IP, SSL), SEO utilities, and Freight tools.">
<meta name="twitter:image"       content="https://www.bencritt.net/static/img/all-projects/qr-code-generator.webp">
<meta name="twitter:creator"     content="@bencritt89">