<!-- SEO fundamentals -->
<meta name="description"         content="Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.">

<!-- Open Graph -->
<meta property="og:url"          content="https://www.bencritt.net/projects/it-tools/">
<meta property="og:type"         content="website">
<meta property="og:title"        content="IT Professional Toolkit">
<meta property="og:description"  content="Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.">
<meta property="og:image"        content="https://www.bencritt.net/static/img/hubs/it-professional-toolkit.webp">
<meta property="og:image:type"   content="image/webp">
<meta property="og:image:alt"    content="IT Professional Toolkit Screenshot">
<meta property="og:site_name"    content="bencritt.net">

<!-- Twitter -->
<meta name="twitter:card"        content="summary_large_image">
<meta property="twitter:domain"  content="bencritt.net">
<meta property="twitter:url"     content="https://www.bencritt.net/projects/it-tools/">
<meta name="twitter:title"       content="IT Professional Toolkit">
<meta name="twitter:description" content="Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.">
<meta name="twitter:image"       content="https://www.bencritt.net/static/img/hubs/it-professional-toolkit.webp">
<meta name="twitter:creator"     content="@bencritt89">