<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma"        content="no-cache">
<meta http-equiv="Expires"       content="0">

<meta name="description"         content="Free WHOIS lookup tool. Retrieve domain registration details including registrar, expiration dates, name servers, and contact information.">

<meta property="og:url"          content="https://www.bencritt.net/projects/whois-lookup/">
<meta property="og:type"         content="website">
<meta property="og:title"        content="WHOIS Lookup Tool | Domain Registration Details">
<meta property="og:description"  content="Perform domain registration lookups to find ownership details, expiration dates, registrars, and nameservers.">
<meta property="og:image"        content="https://www.bencritt.net/static/img/all-projects/whois-lookup.webp">
<meta property="og:site_name"    content="bencritt.net">

<meta name="twitter:card"        content="summary_large_image">
<meta property="twitter:domain"  content="bencritt.net">
<meta property="twitter:url"     content="https://www.bencritt.net/projects/whois-lookup/">
<meta name="twitter:title"       content="WHOIS Lookup Tool | Domain Registration Details">
<meta name="twitter:description" content="Check domain registration details including registrar, expiration dates, and nameservers.">
<meta name="twitter:image"       content="https://www.bencritt.net/static/img/all-projects/whois-lookup.webp">
<meta name="twitter:creator"     content="@bencritt89">