<!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
{% extends "projects/base.html" %}
    {% block page_head %}
    {% block meta_tags %}
    <meta name="description" content="These are projects made by Ben Crittenden.  They are a Monte Carlo simulator, a QR code generator, and a weather forecast app.">
    <meta name="keywords" content="Ben Crittenden's Projects, Projects, Portfolio">
    <meta property="og:title" content="Projects made by Ben Crittenden" />
    <meta property="og:description" content="These apps are a Monte Carlo simulator, a QR code generator, and a simple wealther app.  They are coded in Python." />
    {% endblock meta_tags %}
    {% block styles %}
    <style>
      .container h2 {
          text-align: center;
        }
      .container .col-lg-6 h2 {
          text-align: center;
          margin: 0 auto;
        }
      .container .col-lg-6.order-lg-last {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .container img {
          max-width: 100%;
          height: auto;
        }
      .container .col-lg-6.order-lg-last h2 {
          text-align: center;
          margin: 0 auto;
        }
      .container img {
          display: block;
          margin: 0 auto;
        }
    </style>
    {% endblock styles %}
    {% block link_tags %}
    <link rel="canonical" href="https://www.bencritt.net/projects/all_projects/">
    {% endblock link_tags %}
    {% block title %}Ben Crittenden's Projects{% endblock title %}
    {% endblock page_head %}

    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
    <center><h1>Ben Crittenden's Projects</h1></center>
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="text-center">
                  <a href="/projects/monte_carlo_simulator/" style="text-decoration: none; color: inherit;">
                    <h2 class="fw-bolder">Monte Carlo Simulator</h2>
                  </a>
                  <a href="/projects/monte_carlo_simulator/">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'projects/mcs_logo.png' %}" alt="Monte Carlo Simulator" />
                  </a>
                </div>
            </div>
            <div class="col-lg-6">
                <br>
                <p class="lead fw-normal text-muted mb-0">The Monte Carlo Simulator allows you to take one or two number ranges, randomly generate values within those ranges, select target values, and graph them out onto a PDF file that is downloaded to your computer and placed in your default downloads folder. </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-last">
              <div class="text-center">
                <a href="/projects/qr_code_generator/" style="text-decoration: none; color: inherit;">
                  <h2 class="fw-bolder">QR Code Generator</h2>
                </a>
                <a href="/projects/qr_code_generator/">
                  <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'projects/qrcode_logo.png' %}" alt="QR Code Generator" />                    
                </a>
              </div>
          </div>
          <div class="col-lg-6">
              <br>
              <p class="lead fw-normal text-muted mb-0">The QR Code Generator can generate a QR code out of any characters you submit.  Your QR code will be downloaded to your computer as a PNG file and placed in your default downloads folder. </p>
          </div>
        </div>
    </div>
    <br>
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="text-center">
                  <a href="/projects/weather/" style="text-decoration: none; color: inherit;">
                    <h2 class="fw-bolder">Weather Forecast App</h2>
                  </a>
                  <a href="/projects/weather/">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'projects/weather_logo.png' %}" alt="Weather Forecast App" />                        
                  </a>
                </div>
            </div>
            <div class="col-lg-6">
                <br>
                <p class="lead fw-normal text-muted mb-0">The Weather Forecast App takes the ZIP code of the area you want forecasted and returns a page containing the information you desire.  This app uses two different APIs; the Google Maps Platform API and the OpenWeatherMap One Call API.  The former API converts the ZIP code into latitude and longitude coordinates, while the latter takes those coordinates to retrieve the weather forecast for that area. </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-last">
              <div class="text-center">
                <a href="/projects/grade_level_analyzer/" style="text-decoration: none; color: inherit;">
                  <h2 class="fw-bolder">Grade Level Text Analyzer</h2>
                </a>
                <a href="/projects/grade_level_analyzer/">
                  <img class="img-fluid rounded mb-5 mb-lg-0" src="https://i.imgur.com/u6BDrDI.png" alt="Grade Level Text Analyzer" />                    
                </a>
              </div>
          </div>
          <div class="col-lg-6">
              <br>
              <p class="lead fw-normal text-muted mb-0">The Grade Level Text Analyzer takes an excerpt of text and determines an appropriate grade level for that text.  This analyzer uses three different indices: Flesch-Kincaid, Gunning Fog, and Coleman-Liau.  All three scores are given, as well as uniform and weighted averages.</p>
          </div>
        </div>
    </div>
    <!--
      <center><h1>Ben Crittenden's Projects</h1></center>
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6">
                  <h2 class="fw-bolder">Monte Carlo Simulator</h2>
                  <div class="container"><a href = "/projects/monte_carlo_simulator/"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'projects/mcs_logo.png' %}" alt="..." /></a></div>
              </div>
              <div class="col-lg-6">
                  <br>
                  <p class="lead fw-normal text-muted mb-0">The Monte Carlo Simulator allows you to take one or two number ranges, randomly generate values within those ranges, select target values, and graph them out onto a PDF file that is downloaded to your computer and placed in your default downloads folder. </p>
              </div>
          </div>
      </div>
      <br>
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-last">
              <h2 class="fw-bolder">QR Code Generator</h2>
              <a href = "/projects/qr_code_generator/"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'projects/qrcode_logo.png' %}" alt="..." /></a>
            </div>
            <div class="col-lg-6">
              <br>
              <p class="lead fw-normal text-muted mb-0">The QR Code Generator can generate a QR code out of any characters you submit.  Your QR code will be downloaded to your computer as a PNG file and placed in your default downloads folder. </p>
            </div>
          </div>
        </div>
        <br>
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6">
                  <h2 class="fw-bolder">Weather Forecast App</h2>
                  <div class="container">
                      <a href = "/projects/weather/"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'projects/weather_logo.png' %}" alt="..." /></a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <br>
                  <p class="lead fw-normal text-muted mb-0">The Weather Forecast App takes the ZIP code of the area you want forecasted and returns a page containing the information you desire.  This app uses two different APIs; the Google Maps Platform API and the OpenWeatherMap One Call API.  The former API converts the ZIP code into latitude and longitude coordinates, while the latter takes those coordinates to retrieve the weather forecast for that area. </p>
              </div>
          </div>
      </div>
    -->
    {% endblock content %}