{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- This code is for Google Analytics tools. -->
    <!-- Google tag (gtag.js) -->
     <!-- Commenting out to make GTG work.
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-64B7LMZXKN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-64B7LMZXKN');
    </script>
    -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54T3B3G3');</script>
    <!-- This code is for removing the navbar and footer when a page is loaded instide of an iframe. -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        if (window.self !== window.top) {
          // Hide the navbar and footer when inside an iframe
          const navbar = document.querySelector('nav');
          const footer = document.querySelector('footer');
          const secondaryButtons = document.querySelectorAll('.btn.btn-secondary'); // Select secondary buttons
    
          if (navbar) {
            navbar.style.display = 'none';
          }
          
          if (footer) {
            footer.style.cssText = 'display: none !important;';
          }
          
          // Loop through all secondary buttons and hide them
          secondaryButtons.forEach(function(button) {
            button.style.display = 'none';
          });
        }
      });
    </script>
    <!-- This is code to help remove padding within iframes. -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        if (window.self !== window.top) {
          document.body.classList.add("in-iframe");
        }
      });
    </script>
    <!-- This adjusts iframe height as needed by the page content.-->
    <script>
      function resizeIframe(iframe) {
        // Set the iframe's height based on its content's height
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
      }
    
      document.addEventListener("DOMContentLoaded", function() {
        // Get all iframes on the page
        const iframes = document.querySelectorAll('iframe');
        
        // Resize each iframe when it's fully loaded
        iframes.forEach(function(iframe) {
          iframe.onload = function() {
            resizeIframe(iframe);
          };
        });
      });
    </script>    
    <!-- End Google Tag Manager -->
    <!-- Basic meta tags for character set, viewport, and authorship -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ben Crittenden">
    <!-- Meta to prevent caching, which will prevent CSRF token errors. -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- Block for injecting additional head content in child templates. -->
    {% block extra_head %}
    {% block meta_tags %}
    {% endblock meta_tags %}
    {% block link_tags %}
    {% endblock link_tags %}
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}
    {% endblock styles %}
    {% block scripts %}
    {% endblock scripts %}
    {% endblock extra_head %}
    <!-- Bootstrap CSS for styling and layout. -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for padding to prevent navbar and footer overlaps -->
    <style>
      body {
        padding-top: 100px; /* Adjust based on your navbar height */
      }

      @media (max-width: 768px) {
        body {
          padding-top: 100px; /* Adjust if the navbar height changes on smaller screens */
        }
      }

      main {
        padding-bottom: 150px; /* Adjust based on your footer height */
      }

      /* Remove all padding and margins when inside an iframe */
      body.in-iframe {
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden !important;
      }
      
      main.in-iframe {
        padding: 0 !important;
        margin: 0 !important;
      }

      @media (min-width: 768px) {
        .non-iframe-cards {
            display: none !important; /* Hide non-iframe cards on larger screens */
        }
        .iframe-cards {
            display: flex !important; /* Show iframe cards on larger screens */
        }
      }
    
    @media (max-width: 767px) {
        .iframe-cards {
            display: none !important; /* Hide iframe cards on smaller screens */
        }
        .non-iframe-cards {
            display: flex !important; /* Show non-iframe cards on smaller screens */
        }
    }
    </style>
    <!-- Favicon code. -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://i.imgur.com/IL86O35.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://i.imgur.com/kgaswEI.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://i.imgur.com/iGzvcrM.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- This code makes the data toggles look better. -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      // Initialize tooltips on elements with the data-toggle="tooltip" attribute.
      $( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
      });
    </script>
    <!-- If installing PWA, this includes all assets for offline functionality. -->
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
          .then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch(function(err) {
            console.log('Service Worker registration failed:', err);
          });
      }
    </script>
  </head>
  <body>
    <!-- Google Tag Manager for tracking with JavaScript disabled. -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54T3B3G3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript). -->

    <!-- Bootstrap Bundle JS. -->
     <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    <!-- Header with navigation bar fixed at the top. -->
    <header>
      <!-- This is the site navigation bar. It is fixed to the top of the user's screen.-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Professional Profile</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/projects/">All Projects</a>
              <a class="nav-link" href="/projects/qr-code-generator/">QR Code Generator</a>
              <a class="nav-link" href="/projects/monte-carlo-simulator/">Monte Carlo Simulator</a>
              <a class="nav-link" href="/projects/weather/">Weather Forecast</a>
              <a class="nav-link" href="/projects/grade-level-analyzer/">Grade Level Text Analyzer</a>
              <a class="nav-link" href="/projects/freight-safety/">Freight Carrier Safety Reporter</a>
              <a class="nav-link" href="/projects/seo-head-checker/">SEO Head Checker</a>
              <a class="nav-link" href="/projects/iss-tracker/">ISS Tracker</a>
              <a class="nav-link" href="/projects/xml-splitter/">XML Splitter</a>
              <!-- IT Tools Dropdown -->
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/projects/it-tools/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  IT Professional Toolkit
                </a>
                <ul class="dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/projects/ssl-check/">SSL Verification Tool</a></li>
                  <li><a class="dropdown-item" href="/projects/ip-tool/">IP Address Lookup Tool</a></li>
                  <li><a class="dropdown-item" href="/projects/dns-lookup/">DNS Lookup Tool</a></li>
                  <li><a class="dropdown-item" href="/projects/it-tools/">View All Tools</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>     
    </header>
    <!-- In between these blocks is where each different page <main> <body> content is loaded. -->
    <main>
    {% block content %} 
    {% endblock content %}
    </main>
    <!-- Footer for site-wide information and links -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
      <style>
        footer {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.9);
          margin: 0 auto;
          padding: 1rem 0;
          position: fixed;
          bottom: 0;
          border-top: 1px solid #ccc;
          }
      </style>
      <div class="col-md-4 d-flex align-items-center">
          <!-- This empty image container forces the text to the right.  There's probably a better way to do this, but whatever it works. -->
          <svg class="bi" width="30" height="24"></svg>
        <a href="/" style="text-decoration: none;">
          <span class="mb-3 mb-md-0 text-body-secondary">Web Development, System Administration, Project Management</span>
        </a>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex social-icons">
        <li class="ms-3">
          <!-- Email link with tooltip. -->
          <a href = "mailto:bencritt@uwalumni.com" target="_blank" rel = "noopenner noreferrer" data-toggle="tooltip" title="Send me an email.">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
              <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
              <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
            </svg>
          </a>
        </li>
        <li class="ms-3">
          <!-- LinkedIn link with tooltip. -->
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bencritt/" data-toggle="tooltip" title="Visit my LinkedIn page.">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
          </a>
        </li>
        <li class="ms-3">
          <!-- GitHub link with tooltip. -->
          <a href = "https://github.com/BenCritt" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="Visit my GitHub page.">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>