{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    {% include "includes/analytics_head.html" %}
    <script src="{% static 'template-js/iframe-handler.js' %}" defer></script>

    <meta charset="UTF-8">
    <meta name="viewport"             content="width=device-width, initial-scale=1.0">
    <meta name="author"               content="Ben Crittenden">

    {% block extra_head %}
    {% block meta_tags %}
    {% endblock meta_tags %}
    {% block link_tags %}
    {% endblock link_tags %}
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}
    {% endblock styles %}
    {% block scripts %}
    {% endblock scripts %}
    {% endblock extra_head %}
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'template_css/base.css' %}" rel="stylesheet">
    {% block page_stylesheets %}
    {% endblock page_stylesheets %}
    {% include "includes/favicons.html" %}
    
    <script src="{% static 'template-js/service-worker-register.js' %}" defer></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "includes/analytics_body.html" %}

    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>

    <script src="{% static 'template-js/bootstrap-tooltip.js' %}" defer></script>

    <!-- GTM Event Tracking -->
    <script src="{% static 'template-js/gtm-events.js' %}" defer></script>

    <header>
      {% include "includes/navbar.html" %}
    </header>

    <main class="flex-grow-1 flex-shrink-0 pt-5 pb-5 d-flex flex-column">
      {% block content %} 
      {% endblock content %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>