<html lang="en" data-bs-theme="dark">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Crittenden's Professional Profile</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/projects/home/">Ben Crittenden</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/projects/resume/">Résumé</a>
              <a class="nav-link" href="/projects/qr_code_generator/">QR Code Generator</a>
              <a class="nav-link" href="/projects/contact/">Contact</a>
            </div>
          </div>
        </div>
    </nav>
    <br>
    <table class="table">
        <thead>
            <tr>
              <th scope="col" class="text-center"><h3>Contact Me</h3></th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">bencritt@uwalumni.com</td>
          </tr>
          <tr>
            <td class="text-center"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bencritt/">My LinkedIn Profile</a></td>
          </tr>
          <tr>
            <td class="text-center">608-290-8115</td>
          </tr>
        </tbody>
      </table>
</body>
</html>


