<!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
{% extends "projects/base.html" %}
{% block scripts %}
<!-- This is schema to help with SEO. -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Grade Level Text Analyzer",
        "description": "A web-based application to analyze text readability using Flesch-Kincaid, Gunning Fog, and Coleman-Liau indices, including uniform and weighted averages.",
        "url": "https://www.bencritt.net/projects/grade-level-analyzer/",
        "applicationCategory": "Educational Software",
        "operatingSystem": "Web-based",
        "image": "https://www.bencritt.net/static/img/all-projects/grade-level-text-analyzer.webp",
        "creator": {
          "@type": "Person",
          "name": "Ben Crittenden",
          "url": "https://www.bencritt.net"
        },
        "featureList": [
          "Calculates readability scores using Flesch-Kincaid, Gunning Fog, and Coleman-Liau indices.",
          "Provides uniform and weighted averages for comprehensive text analysis.",
          "User-friendly interface with quick processing."
        ]
      }
      
</script>
{% endblock scripts %}
{% block meta_tags %}
<!-- Meta to prevent caching, which will prevent CSRF token errors. -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<!-- Meta tags providing essential information about the page to search engines. -->
<meta name="description" content="Use the Grade Level Text Analyzer to determine the readability of your text. Our tool calculates Flesch-Kincaid, Gunning Fog, and Coleman-Liau scores, providing uniform and weighted averages for accurate grade level assessment.">
<meta name="keywords" content="text readability, grade level analysis, readability scores, Flesch-Kincaid, Gunning Fog, Coleman-Liau, text analysis tool">

<!-- Open Graph -->
<meta property="og:url"           content="https://www.bencritt.net/projects/grade-level-analyzer/">
<meta property="og:type"          content="website">
<meta property="og:title"         content="Grade Level Text Analyzer">
<meta property="og:description"   content="The Grade Level Text Analyzer takes an excerpt of text and determines an appropriate grade level for that text.  This analyzer uses three different indices: Flesch-Kincaid, Gunning Fog, and Coleman-Liau.  All three scores are given, as well as uniform and weighted averages.">
<meta property="og:image"         content="https://www.bencritt.net/static/img/all-projects/grade-level-text-analyzer.webp">
<meta property="og:image:type"    content="image/webp">
<meta property="og:image:alt"     content="Grade Level Text Analyzer Screenshot">
<meta property="og:site_name"     content="Ben Crittenden">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="bencritt.net">
<meta name="twitter:url" content="https://www.bencritt.net/projects/grade-level-analyzer/">
<meta name="twitter:title" content="Grade Level Text Analyzer">
<meta name="twitter:description" content="The Grade Level Text Analyzer takes an excerpt of text and determines an appropriate grade level for that text.  This analyzer uses three different indices: Flesch-Kincaid, Gunning Fog, and Coleman-Liau.  All three scores are given, as well as uniform and weighted averages.">
<meta name="twitter:image" content="https://www.bencritt.net/static/img/all-projects/grade-level-text-analyzer.webp">
<meta name="twitter:creator" content="@bencritt89"/>
{% endblock meta_tags %}
{% block link_tags %}
<!-- Canonical URL to avoid duplicate content issues. -->
<link rel="canonical" href="https://www.bencritt.net/projects/grade-level-analyzer/">
{% endblock link_tags %}
{% block title %}Grade Level Text Analyzer | Check Readability Scores Online{% endblock title %}
<!-- This begins the body contents that are unique to this page. -->
{% block content %}
<center>
    <h1>Grade Level Text Analyzer</h1><br>
    <!-- Instructions for users. -->
    <p>Submit an excerpt from your text below.  Your sample must be between 1,200 and 10,000 characters.</p>
<!-- Display form errors if present. -->
{% if form.text.errors %}
    {% for error in form.text.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
{% endif %}
{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="error">{{ error }}</div>
  {% endfor %}
{% endif %}
<!-- Form for submitting text to be analyzed. -->
<form method="post" action="{% url 'projects:grade_level_analyzer' %}">
    {% csrf_token %}    <!-- Protects against Cross-Site Request Forgery (CSRF) by attaching a unique security token to the form. -->
    {{ form.text }}     <!-- Text input field for the user's text sample. -->
    <br>
    <!-- Submit button for the form. -->
    <input type="submit" id="txt-analyze-btn" class="btn btn-primary" value="Analyze Sample Text" aria-label="Analyze Sample Text">
</form>
<br>
<!-- Link to the GitHub repository containing the source code. -->
<a href = "https://github.com/BenCritt/grade_level_analyzer" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" title="View the source code for this app."><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg></a>
<center>
{% endblock %}
