<html lang="en" data-bs-theme="dark">
  <head>
    <!-- This code is for Google Analytics tools. -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-64B7LMZXKN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-64B7LMZXKN');
    </script>

    <!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
    {% extends "projects/base.html" %}
    {% load static %}

    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
    <title>Ben Crittenden's Professional Profile</title>
    <meta name="description" content="The professional profile of Ben Crittenden.">
    <meta name="keywords" content="Crittenden, Professional, Profile">
    <meta name="author" content="Ben Crittenden">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Ben Crittenden",
        "url": "https://www.bencritt.net",
        "sameAs": [
          "https://www.linkedin.com/in/bencritt/",
          "https://github.com/BenCritt",
          "https://stackoverflow.com/users/21613304/ben-crittenden",
          "https://www.bencritt.com",
          "https://www.bencritt.org"

        ]
      }
      </script>
  </head>
  <body>
      <center>
      <h3>Professional Profile of Ben Crittenden</h3>
      </center>
      <br>
      <h5>Special Note</h5><br><br>
      <p>I'm migrating my DNS at the moment.  This explains the odd URL you currently see.  This is temporary.</p>
      <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 100%; max-width: 650px; margin:0 auto;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              About Me
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><strong>My professional interests are IT Services, Software Development, and Data Analytics.</strong>  My name is Ben Crittenden, and I have a passion for developing and deploying technology that enables people to be more productive in their work and to have more meaningful experiences in their lives.  Python is a tool I particularly enjoy using, both for the fun of creating interesting projects as well as for its ability to increase productivity.  Working with technology is something I find as fun as much as I find it important.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              My Experience and Perspective
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><strong>I have experience in IT and secondary education.</strong>  I have seven years of teaching experience at the secondary level, as well as three years of experience as a substitute teacher across the K-12 system prior to becoming a full-time teacher.  Prior to teaching, I worked in IT support for a department at my alma mater, UW-Madison.  My experience as a teacher has taught me organizational and communication skills that, coupled with my technical skills, enables me to be an asset for any organization with IT support needs.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              This Website
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><strong>You are currently visiting my professional profile website.</strong>  I created this website using Django and Bootstrap.  As a demonstration of my technical knowledge, I've included some programs on this website.  I created these programs using the Python programming language.  I've shared the source code for these programs in GitHub repositories, linked on the bottom of their webpages.  I've also included on this website a link to my GitHub account, on the "Contact Me" page.  There, you will find more repositories demonstrating my coding ability, including the source code for this website.</div>
          </div>
        </div>
      </div>
  </body>
  {% endblock content %}
</html>


