<!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
{% extends "projects/base.html" %}
<!-- Begin defining the head section where scripts, styles, meta tags, and title will be included. -->
    {% block page_head %}
    {% block scripts %}
    <!-- Structured data (i.e. schema) using JSON-LD to provide information about the page's subject (Ben Crittenden) to search engines. -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "givenName": ["Benjamin", "Ben"],
      "additionalName": "Michael",
      "familyName": "Crittenden",
      "nationality": "American",
      "memberOf": {
        "@type": "Organization",
        "name": "Fraternal Order of Eagles"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "University of Wisconsin&ndash;Madison",
        "url": "https://www.wisc.edu/"
      },
      "worksFor": {
        "@type": "Organization",
        "name": "Foremost Media, Inc.",
        "url": "https://www.foremostmedia.com/"
      },
      "jobTitle": "Technical Support Manager",
      "knowsAbout": [
        "Technical Support",
        "Information Technology",
        "IT Support",
        "IT Services",
        "IT Solutions",
        "Technical Support Management",
        "Managed Services",
        "Web Development",
        "Software Development",
        "Data Analytics",
        "Django",
        "HTML",
        "CSS",
        "JavaScript",
        "Python",
        "SEO",
        "Search Engine Optimization",
        "History",
        "Political Science",
        "Social Studies",
        "Education",
        "Secondary Education",
        "Project Management",
        "Account Management"
      ],
      "url": "https://www.bencritt.net",
      "sameAs": [
        "https://www.linkedin.com/in/bencritt/",
        "https://badgerbridge.com/user/26380",
        "https://github.com/BenCritt",
        "https://stackoverflow.com/users/21613304/ben-crittenden",
        "https://www.goodreads.com/bencritt"
      ]
    }
    </script>
    {% endblock scripts %}    
    {% block styles %}
    <!-- Custom styles for the page, specifically targeting the accordion component. -->
    <!--background-color: #076CF6; This is an alternative color I want to save as a comment for now. -->
    <style>
      .icon-container {
        display: flex;
        justify-content: center; /* Center the icons horizontally */
        gap: 20px; /* Add space between the icons */
      }

      .icon-container a {
        display: inline-block;
      }
        /* Overall container for sections */
      .section-container {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      /* Section headers */
      h2 {
        font-family: 'Arial', sans-serif;
        font-size: 1.8rem;
        color: #076cf6;
        border-bottom: 2px solid #076cf6;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      /* Section paragraphs */
      .section-container p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #555;
        margin-bottom: 30px;
      }

      /* Highlighted text */
      .section-container p strong {
        color: #333;
        font-weight: bold;
      }

      /* Section styles */
      section {
        padding: 20px;
        background: #ffffff;
        border-radius: 8px;
        margin-bottom: 30px;
      }

      /* Icon styling for additional visual appeal */
      .section-icon {
        font-size: 2rem;
        color: #076cf6;
        margin-right: 10px;
      }

      /* Responsive adjustments */
      @media (max-width: 768px) {
        .section-container {
          padding: 10px;
        }
        h2 {
          font-size: 1.5rem;
        }
        .section-container p {
          font-size: 1rem;
        }
      }
    </style>
    {% endblock styles %}
    {% block meta_tags %}
    <!-- Meta tags for providing basic information about the website to search engines and social media platforms. -->
    <meta name="description" content="This is the professional profile of Ben Crittenden.  On this website, you will find web appllications and documentation showcasing Ben Crittenden's skills and qualifications.">
    <meta name="keywords" content="Ben Crittenden, Crittenden, Professional, Profile, Portfolio, IT Services, Software Development, Data Analytics, Technical Support, Web Development, Project Management">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.bencritt.net">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ben Crittenden - IT Services, Software Development, Data Analytics">
    <meta property="og:description" content="This is the professional profile of Ben Crittenden.  On this website, you will find web appllications and documentation showcasing Ben Crittenden's skills and qualifications.">
    <meta property="og:image" content="https://i.imgur.com/DiY1ZrM.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bencritt.net">
    <meta property="twitter:url" content="https://www.bencritt.net">
    <meta name="twitter:title" content="Ben Crittenden - IT Services, Software Development, Data Analytics">
    <meta name="twitter:description" content="This is the professional profile of Ben Crittenden.  On this website, you will find web appllications and documentation showcasing Ben Crittenden's skills and qualifications.">
    <meta name="twitter:image" content="https://i.imgur.com/DiY1ZrM.png">
    <meta name="twitter:creator" content="@bencritt89"/>
    {% endblock meta_tags %}
    {% block link_tags %}
    <!-- Canonical URL to prevent duplicate content issues. -->
    <link rel="canonical" href="https://www.bencritt.net">
    {% endblock link_tags %}
    {% block title %}Ben Crittenden - IT Services, Software Development, Data Analytics{% endblock title %}
    {% endblock page_head %}
    <!-- This begins the contents that are unique to the body of this page. -->
    {% block content %}
      <center>
      <h1>Professional Profile of Ben Crittenden</h1>
      </center>
      <br>
      <br>
      <center>
      <!-- Various sections describing Ben Crittenden, using an accordion for organized presentation. -->
      <div class="section-container">
      <section id="about-ben-crittenden">
        <h2>Who is Ben Crittenden?</h2>
        <p><strong>My professional interests are IT Services, Software Development, and Data Analytics.</strong>  My name is Ben Crittenden, and I have a passion for developing and deploying technology that enables people to be more productive in their work and to have more meaningful experiences in their lives.  Python is a tool I particularly enjoy using, both for the fun of creating interesting projects as well as for its ability to increase productivity.  Working with technology is something I find as fun as much as I find it important.</p>
      </section>

      <section id="experience-ben-crittenden">
        <h2>My Experience and Perspective</h2>
        <p><strong>I have experience working in Information Technology and secondary education.</strong>  I'm currently the Technical Support Manager at a company that provides managed services for web development, online marketing, and e-commerce.  I also have seven years of teaching experience at the secondary level, as well as three years of experience as a substitute teacher across the K-12 system prior to becoming a full-time teacher.  Prior to teaching, I worked in IT support for a department at my alma mater, UW-Madison.  My experience as a teacher has taught me organizational and communication skills that, coupled with my technical skills, enables me to be an asset for any organization with IT support needs.</p>
      </section>

      <section id="about-this-website">
        <h2>About This Website</h2>
        <p><strong>You are currently visiting my professional profile website.</strong>  I created this website using Django and Bootstrap.  It's hosted on a Heroku server with a domain name through Cloudflare.  As a demonstration of my technical knowledge, I've included some programs on this website.  I created these programs using the Python programming language.  I've shared the source code for these programs in GitHub repositories, linked on the bottom of their respective web pages.  I've also included on this website a link to my GitHub account, on the "Contact Me" page and in the footer.  There, you will find more repositories demonstrating my coding ability, including the source code for this website.</p>
      </section>
    </div>
    </center>
    <br><br>
      <center>
        <h2>Ben Crittenden's Qualifications</h2>
        <br>
          <!-- Links to Ben's résumé, credentials, and transcripts. -->
          <div class="btn-group" role="group" aria-label="Qualifications">
            <a class="btn btn-primary me-3 rounded-pill" href="https://drive.google.com/file/d/10gtfHDHaSBWZE-Yo7kPb6DoMjFCwqA1C/view?usp=drive_link" target="_blank" rel="noopener noreferrer">View My Résumé</a>
            <a class="btn btn-primary me-3 rounded-pill" href="https://drive.google.com/drive/folders/1OEtUG7cDOXsB2OWAuOSbQkT4fl3gwKzj" target="_blank" rel="noopener noreferrer">View My Credentials</a>
            <a class="btn btn-primary rounded-pill" href="https://drive.google.com/drive/folders/0B1zSx21s0Mm8aXpLd2VuMWRHWEk?resourcekey=0-map79EfW6nZXfhSTJFMjiw" target="_blank" rel="noopener noreferrer">View My Transcripts</a>
          </div>
        <br><br>
        <!-- Contact Information -->
        <h2>Contact Ben Crittenden</h2>
        <br>
        <div class="icon-container">
          <a href = "mailto:bencritt@uwalumni.com" target="_blank" rel = "noopenner noreferrer" data-toggle="tooltip" title="Send me an email.">
            <!-- SVG for email icon. -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
              <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
              <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
            </svg>
          </a>
          <br><br>
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bencritt/" data-toggle="tooltip" title="Visit my LinkedIn page.">
            <!-- SVG for LinkedIn icon. -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
          </a>
          <br><br>
          <a href = "https://github.com/BenCritt" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="Visit my GitHub page.">
            <!-- SVG for GitHub icon. -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
        </div>
      </center>
    {% endblock content %}
