{% extends "projects/base.html" %}
{% load static %}

{% block scripts %}
    {% include "includes/schemas/ip_tool_schema.html" %}
{% endblock scripts %}    

{% block meta_tags %}
    <meta http-equiv="Cache-Control"  content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma"         content="no-cache">
    <meta http-equiv="Expires"        content="0">

    <meta name="description"          content="Use the IP Address Lookup Tool to perform reverse DNS lookups, retrieve PTR records, geolocation data, and blacklist status for any IP address. Access detailed network diagnostics with ease.">
    <meta name="keywords"             content="IP, Address, Lookup, tool, reverse DNS, geolocation, blacklist">

    <meta property="og:url"           content="https://www.bencritt.net/projects/ip-tool/">
    <meta property="og:type"          content="website">
    <meta property="og:title"         content="IP Address Lookup Tool">
    <meta property="og:description"   content="The IP Address Lookup Tool enables users to perform reverse DNS lookups to retrieve information for a specified IP address, including PTR records, geolocation data, and blacklist status.">
    <meta property="og:image"         content="https://www.bencritt.net/static/img/all-projects/ip-tool.webp">
    <meta property="og:image:type"    content="image/webp">
    <meta property="og:image:alt"     content="IP Address Lookup Tool Screenshot">
    <meta property="og:site_name"     content="Ben Crittenden">

    <meta name="twitter:card"         content="summary_large_image">
    <meta name="twitter:domain"       content="bencritt.net">
    <meta name="twitter:url"          content="https://www.bencritt.net/projects/ip-tool/">
    <meta name="twitter:title"        content="IP Address Lookup Tool">
    <meta name="twitter:description"  content="The IP Address Lookup Tool enables users to perform reverse DNS lookups to retrieve information for a specified IP address, including PTR records, geolocation data, and blacklist status.">
    <meta name="twitter:image"        content="https://www.bencritt.net/static/img/all-projects/ip-tool.webp">
    <meta name="twitter:creator"      content="@bencritt89"/>
{% endblock meta_tags %}

{% block link_tags %}
    <link rel="canonical" href="https://www.bencritt.net/projects/ip-tool/">
    <link href="{% static 'template-css/ip-tool-css.css' %}" rel="stylesheet">
{% endblock link_tags %}

{% block title %}IP Address Lookup Tool | Reverse DNS, Geolocation, and Blacklist Check{% endblock title %}

{% block content %}
<main>
    <div class="text-center"> <h1>IP Address Lookup Tool</h1>
        <br>
        
        <div class="container u-container-narrow">
            {% if error_message %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {{ form.as_p }}
                
                <input type="submit" id="ip-lookup-btn" class="btn btn-primary" value="Look Up IP Address Info" aria-label="Look Up IP Address Info">
                <br>
                <a href="{% url 'projects:it_tools' %}" class="btn btn-secondary" style="margin-top: 20px;">Go to All IT Tools</a>
            </form>
        </div>
        <br>

        {% if results %}
            <br>
            <div class="container u-container-narrow">
                <h5>IP Address Information for {{ form.cleaned_data.ip_address }}</h5>
                <br>
                <div class="table-container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 30%;">Information Type</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PTR Records</td>
                                <td>
                                    {% if results.PTR %}
                                        <ul class="text-start">
                                            {% for record in results.PTR %}
                                                <li>{{ record }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No PTR records found
                                    {% endif %}
                                </td>
                            </tr>
                            
                            {% if results.Geolocation %}
                            <tr>
                                <td>Geolocation</td>
                                <td>
                                    <ul class="text-start">
                                        {% for key, value in results.Geolocation.items %}
                                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            
                            {% if results.Blacklist %}
                            <tr>
                                <td>Blacklist Status</td>
                                <td>
                                    <ul class="text-start">
                                        {% for status in results.Blacklist %}
                                            <li>{{ status }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            
                            {% if results.ISP %}
                            <tr>
                                <td>ISP</td>
                                <td>{{ results.ISP }}</td>
                            </tr>
                            {% endif %}
                            
                            {% if results.ASN %}
                            <tr>
                                <td>ASN</td>
                                <td>{{ results.ASN }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        
        <br><br>
        
{% include 'includes/attribution.html' %}
    </div>
</main>
{% endblock content %}