<!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
{% extends "projects/base.html" %}
    {% block page_head %}
    {% block scripts %}
    <!-- This is schema to help with SEO. -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "SoftwareApplication",
          "name": "IP Address Lookup Tool",
          "description": "The IP Adress Lookup Tool enables users to perform reverse DNS lookups to retrieve PTR records for a specified IP address, providing information about the domain name associated with the IP Address.",
          "url": "https://www.bencritt.net/projects/ip_tool/",
          "applicationCategory": "Network Utility",
          "operatingSystem": "Web-based",
          "image": "https://i.imgur.com/3ikMQJN.png",
          "creator": {
            "@type": "Person",
            "name": "Ben Crittenden",
            "url": "https://www.bencritt.net"
          },
          "featureList": [
            "Performs reverse DNS lookups to retrieve PTR records for specified IP addresses.",
            "Displays the domain name associated with an IP address, useful for network diagnostics and verification.",
            "Web-based application, accessible from any device with an internet connection.",
            "Simple and intuitive interface for entering IP addresses and viewing reverse DNS results.",
            "Built using Python and Django, utilizing powerful DNS libraries for accurate results and error handling."
          ]
        }
    </script>
    {% endblock scripts %}    
    {% block styles %} 
    <!-- Custom CSS styles for the IP Address Lookup Tool -->
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;  /* Merges table borders */
            margin-top: 20px;   /* Adds space above the table */
        }
        .table th, .table td {
            padding: 12px;  /* Increase padding for better readability */
            text-align: center; /* Centers text */
            border: 1px solid #ddd; /* Adds border around cells */
            vertical-align: middle;  /* Aligns content vertically in the middle */
        }
        .table th {
            background-color: #f2f2f2;  /* Sets background color for table headers */
        }
        .table tr:nth-child(even) {  /* Alternating row colors for readability */
            background-color: #f9f9f9;
        }
        .table tr:hover {  /* Hover effect for better interactivity */
            background-color: #f1f1f1;  /* Changes background on hover for better interactivity */
        }
        ul {
            margin: 0;  /* Removes margin */
            padding-left: 20px; /* Adds padding to the left */
            list-style-type: none;  /* Removes bullet points from the list */
        }
        .centered-content {
            text-align: center; /* Centers the content */
        }
    </style>
    {% endblock styles %}
    {% block meta_tags %}
    <!-- Meta to prevent caching, which will prevent CSRF token errors. -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- Meta tags providing essential information about the page to search engines. -->
    <meta name="description" content="Use the IP Address Lookup Tool to perform reverse DNS lookups, retrieve PTR records, geolocation data, and blacklist status for any IP address. Access detailed network diagnostics with ease.">
    <meta name="keywords" content="IP, Addnress, Lookup, tool">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.bencritt.net/projects/ip_tool/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IP Address Lookup Tool">
    <meta property="og:description" content="The IP Address Lookup Tool enables users to perform reverse DNS lookups to retrieve information for a specified IP address, including PTR records, geolocation data, and blacklist status.">
    <meta property="og:image" content="https://i.imgur.com/3ikMQJN.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bencritt.net">
    <meta property="twitter:url" content="https://www.bencritt.net/projects/ip_tool/">
    <meta name="twitter:title" content="IP Address Lookup Tool">
    <meta name="twitter:description" content="The IP Address Lookup Tool enables users to perform reverse DNS lookups to retrieve information for a specified IP address, including PTR records, geolocation data, and blacklist status.">
    <meta name="twitter:image" content="https://i.imgur.com/3ikMQJN.png">
    <meta name="twitter:creator" content="@bencritt89"/>
    {% endblock meta_tags %}
    {% block link_tags %}
    <!-- Canonical link to help avoid duplicate content issues. -->
    <link rel="canonical" href="https://www.bencritt.net/projects/ip_tool/">
    {% endblock link_tags %}
    {% block title %}IP Address Lookup Tool | Reverse DNS, Geolocation, and Blacklist Check{% endblock title %}
    {% endblock page_head %}
    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
    <main>
        <div class="centered-content">
            <h1>IP Address Lookup Tool</h1>
            <!-- Form for submitting IP address -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Look Up IP Address Info">
            </form>
            <br>
            <!-- Error message display -->
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
    
            <!-- Display results if they exist -->
            {% if results %}
                <br>
                <h5>Information for {{ form.cleaned_data.ip_address }}:</h5>
                <div class="container" style="width: 100%; max-width: 750px;">
                    <!-- Table displaying various types of IP-related information -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Information Type</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- PTR Records -->
                            <tr>
                                <td>PTR Records</td>
                                <td>
                                    {% if results.PTR %}
                                        <ul>
                                            {% for record in results.PTR %}
                                                <li>{{ record }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No PTR records found
                                    {% endif %}
                                </td>
                            </tr>
                            
                            <!-- Geolocation Information -->
                            {% if results.Geolocation %}
                            <tr>
                                <td>Geolocation</td>
                                <td>
                                    <ul>
                                        {% for key, value in results.Geolocation.items %}
                                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            
                            <!-- Blacklist Information -->
                            {% if results.Blacklist %}
                            <tr>
                                <td>Blacklist Status</td>
                                <td>
                                    <ul>
                                        {% for status in results.Blacklist %}
                                            <li>{{ status }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            
                            <!-- Additional Information Types -->
                            {% if results.ISP %}
                            <tr>
                                <td>ISP</td>
                                <td>{{ results.ISP }}</td>
                            </tr>
                            {% endif %}
                            {% if results.ASN %}
                            <tr>
                                <td>ASN</td>
                                <td>{{ results.ASN }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
                <br><br>
                <!-- Link to the GitHub repository for the project. -->
                <a href = "https://github.com/BenCritt/IP_Lookup_Tool" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="View the source code for this app."><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></a>
        </center>
    </main>
    {% endblock content %}
