{% extends "projects/base.html" %}
{% load static %}
    {% block scripts %}
        {% include "includes/schemas/iss_tracker_schema.html" %}
    {% endblock scripts %}
    {% block meta_tags %}
    <!-- Meta to prevent caching, which will prevent CSRF token errors. -->
    <meta http-equiv="Cache-Control"  content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma"         content="no-cache">
    <meta http-equiv="Expires"        content="0">

    <!-- Meta tags providing essential information about the page to search engines. -->
    <meta name="description"          content="Track the International Space Station (ISS) in real-time with the ISS Tracker. View the current location, altitude, velocity, and regional position of the ISS, and predict its upcoming passes over your location.">
    <meta name="keywords"             content="ISS Tracker, International Space Station, real-time ISS location, ISS altitude, ISS velocity, ISS pass prediction, track ISS, space station tracker, astronomy tools, real-time satellite tracking">

    <!-- Open Graph -->
    <meta property="og:url"           content="https://www.bencritt.net/projects/iss-tracker/">
    <meta property="og:type"          content="website">
    <meta property="og:title"         content="ISS Tracker">
    <meta property="og:description"   content="Track the International Space Station (ISS) in real-time with the ISS Tracker. View the current location, altitude, velocity, and regional position of the ISS, and predict its upcoming passes over your location.">
    <meta property="og:image"         content="https://www.bencritt.net/static/img/all-projects/iss-tracker.webp">
    <meta property="og:image:type"    content="image/webp">
    <meta property="og:image:alt"     content="ISS Tracker Screenshot">
    <meta property="og:site_name"     content="Ben Crittenden">
    
    <!--
    Once I have a specific image meant for this, I can use these optimized dimensions.
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    -->

    <!-- Twitter -->
    <meta name="twitter:card"         content="summary_large_image">
    <meta name="twitter:domain"       content="bencritt.net">
    <meta name="twitter:url"          content="https://www.bencritt.net/projects/iss-tracker/">
    <meta name="twitter:title"        content="ISS Tracker">
    <meta name="twitter:description"  content="Track the International Space Station (ISS) in real-time with the ISS Tracker. View the current location, altitude, velocity, and regional position of the ISS, and predict its upcoming passes over your location.">
    <meta name="twitter:image"        content="https://www.bencritt.net/static/img/all-projects/iss-tracker.webp">
    <meta name="twitter:creator"      content="@bencritt89">

    {% endblock meta_tags %}
    {% block link_tags %}
    <!-- Canonical link to help avoid duplicate content issues. -->
    <link rel="canonical" href="https://www.bencritt.net/projects/iss-tracker/">
    {% endblock link_tags %}
    {% block title %}ISS Tracker | Real-Time International Space Station Tracking Tool{% endblock title %}
    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
    <main>
        <center>
            <h1>International Space Station Tracker</h1>
            <br>
            <p>I've temporarily disabled the ISS passover schedule due to API unreliability.</p>
            <!--
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" id="iss-track-btn" class="btn btn-primary" value="Project ISS Passover Schedule" aria-label="Project ISS Passover Schedule">
            </form>
            -->
            <br>
            
            <!-- Current ISS Data Section -->
            <h2>Current ISS Data</h2>
            <br>
            <div class="table-container" style="width: 100%; max-width: 750px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Region</th>
                            <th>Altitude</th>
                            <th>Velocity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="latitude">{{ current_data.latitude }}</td>
                            <td id="longitude">{{ current_data.longitude }}</td>
                            <td id="region">{{ current_data.region }}</td>
                            <td id="altitude">{{ current_data.altitude }}</td>
                            <td id="velocity">{{ current_data.velocity }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <!-- ISS Pass Times Section -->
            {% if iss_pass_times %}
                <h2>Upcoming ISS Pass Times</h2>
                <br>
                <div class="table-container" style="width: 100%; max-width: 750px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pass in iss_pass_times %}
                            <tr>
                                <td>{{ pass.event }}</td>
                                <td>{{ pass.date }}</td>
                                <td>{{ pass.time }}</td>
                                <td>{{ pass.position }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% elif error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <br>
{% include 'includes/attribution.html' %}
        </center>
    </main>

    <!-- Real-time Updates -->
    <script>
        /**
        * Fetches the current ISS data from the backend API and updates the HTML elements
        * to display the most recent information (e.g., latitude, longitude, altitude, velocity, and region).
        */
        function updateCurrentData() {
            // Make a GET request to the backend endpoint that provides current ISS data in JSON format.
            fetch('/current-iss-data/')
                // Parse the JSON response from the API.
                .then(response => response.json())
                .then(data => {
                    // Log the received data for debugging purposes (useful for development).
                    console.log("API Data:", data);
                    // Update latitude value.
                    document.getElementById('latitude').innerText = data.latitude;
                    // Update longitude value.
                    document.getElementById('longitude').innerText = data.longitude;
                    // Update region value (land or ocean).
                    document.getElementById('region').innerText = data.region;
                    // Update altitude value.
                    document.getElementById('altitude').innerText = data.altitude;
                    // Update velocity value.
                    document.getElementById('velocity').innerText = data.velocity;
                })
                // Log an error message to the console if the API call fails.
                .catch(error => console.error("Error fetching current ISS data:", error));
        }

        /**
        * Sets up the real-time ISS data updates.
        * This ensures the data is updated immediately on page load and every 60 seconds thereafter.
        */
        document.addEventListener('DOMContentLoaded', () => {
            // Fetch and display current ISS data as soon as the page loads.
            updateCurrentData();
            // Set up an interval to refresh the ISS data every 60 seconds.
            // The interval should not be too short, as it makes an API call with every refresh.
            setInterval(updateCurrentData, 60000);
        });
    </script>
{% endblock content %}
