{% extends "projects/base.html" %}
{% load static %}
    {% block scripts %}
      <!-- Schema for SEO -->
      {% include "includes/schemas/it_tools_schema.html" %}
    {% endblock scripts %}
    {% block meta_tags %}
        <!-- Meta tags for SEO -->
        <meta name="description" content="Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.">
        <meta name="keywords" content="SSL Verification, IP Address Lookup, DNS Lookup, Network Tools, IT Tools">
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.bencritt.net/projects/it-tools/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="IT Professional Toolkit">
        <meta property="og:description" content="Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.">
        <meta property="og:image" content="https://www.bencritt.net/static/img/hubs/it-professional-toolkit.webp">
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="bencritt.net">
        <meta property="twitter:url" content="https://www.bencritt.net/projects/it-tools/">
        <meta name="twitter:title" content="IT Professional Toolkit">
        <meta name="twitter:description" content="Access a collection of IT tools including SSL Verification, IP Address Lookup, and DNS Lookup to assist with your network and domain management needs.">
        <meta name="twitter:image" content="https://www.bencritt.net/static/img/hubs/it-professional-toolkit.webp">
        <meta name="twitter:creator" content="@bencritt89"/>
    {% endblock meta_tags %}
    {% block link_tags %}
        <!-- Canonical link to help avoid duplicate content issues. -->
        <link rel="canonical" href="https://www.bencritt.net/projects/it-tools/">
        <!-- Other CSS styling and layout. -->
        <link href="{% static 'template-css/it-tools-css.css' %}" rel="stylesheet">
    {% endblock link_tags %}
    {% block title %}IT Professional Toolkit | SSL Verification, IP Address Lookup, DNS Lookup{% endblock title %}
    {% block styles %} 
    {% endblock styles %}
    {% block content %}
    <main>
        <center>
            <h1>IT Professional Toolkit</h1>
            <br>
            <!-- Non-iframe Cards -->
            <div class="card-container non-iframe-cards" style="display: flex; flex-wrap: wrap; justify-content: space-around; gap: 20px;">

              <!-- SSL Verification Tool Card -->
              <div class="card non-iframe-cards tool-card">
                  <h2>SSL Verification Tool</h2>
                  <img src="{% static '/img/all-projects/ssl-check.webp' %}" alt="SSL Verification Tool" style="width: 100%; height: auto; border-radius: 8px;">                
                  <p>Quickly verify the SSL certificate of any website with the SSL Verification Tool. Check SSL details, including certificate issuer, expiration dates, and validity for secure browsing.</p>
                  <a href="{% url 'projects:ssl_check' %}" class="btn btn-primary" style="display: inline-block; margin-top: 10px;">Use SSL Tool</a>
              </div>

              <!-- IP Address Lookup Tool Card -->
              <div class="card non-iframe-cards tool-card">
                  <h2>IP Address Lookup Tool</h2>
                  <img src="{% static '/img/all-projects/ip-tool.webp' %}" alt="IP Address Lookup Tool" style="width: 100%; height: auto; border-radius: 8px;">
                  <p>Use the IP Address Lookup Tool to perform reverse DNS lookups, retrieve PTR records, geolocation data, and blacklist status for any IP address. Access detailed network diagnostics with ease.</p>
                  <a href="{% url 'projects:ip_tool' %}" class="btn btn-primary" style="display: inline-block; margin-top: 10px;">Use IP Address Lookup Tool</a>
              </div>

              <!-- DNS Lookup Tool Card -->
              <div class="card non-iframe-cards tool-card">
                  <h2>DNS Lookup Tool</h2>
                  <img src="{% static '/img/all-projects/dns-lookup.webp' %}" alt="DNS Lookup Tool" style="width: 100%; height: auto; border-radius: 8px;">                
                  <p>Use the DNS Lookup Tool to perform DNS lookups and retrieve various DNS records, such as A, MX, NS, CNAME, TXT, SOA, SRV, and CAA Records. It's essential for domain management and network troubleshooting.</p>
                  <a href="{% url 'projects:dns_tool' %}" class="btn btn-primary" style="display: inline-block; margin-top: 10px;">Use DNS Lookup Tool</a>
              </div>

            </div>  
            <br>
            <!-- Iframe cards for displaying apps inline -->          
            <div class="card-container iframe-cards" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-around;">

              <!-- SSL Verification Tool Card -->
              <div class="card iframe-cards" style="width: 100%; max-width: 450px; border: 1px solid #ddd; border-radius: 8px; padding: 20px;">
                  <div class="card-body">
                      <iframe src="{% url 'projects:ssl_check' %}" style="width: 100%; height: auto; min-height: 553px; border: none;" scrolling="no"></iframe>
                      <a href="{% url 'projects:ssl_check' %}" class="btn btn-secondary" style="margin-top: 10px;">Open Full SSL Page</a>
                  </div>
              </div>
          
              <!-- IP Address Lookup Tool Card -->
              <div class="card iframe-cards" style="width: 100%; max-width: 450px; border: 1px solid #ddd; border-radius: 8px; padding: 20px;">
                  <div class="card-body">
                      <iframe src="{% url 'projects:ip_tool' %}" style="width: 100%; height: auto; min-height: 553px; border: none;" scrolling="no"></iframe>
                      <a href="{% url 'projects:ip_tool' %}" class="btn btn-secondary" style="margin-top: 10px;">Open Full IP Page</a>
                  </div>
              </div>
          
              <!-- DNS Lookup Tool Card -->
              <div class="card iframe-cards" style="width: 100%; max-width: 450px; border: 1px solid #ddd; border-radius: 8px; padding: 20px;">
                  <div class="card-body">
                      <iframe src="{% url 'projects:dns_tool' %}" style="width: 100%; height: auto; min-height: 553px; border: none;" scrolling="no"></iframe>
                      <a href="{% url 'projects:dns_tool' %}" class="btn btn-secondary" style="margin-top: 10px;">Open Full DNS Page</a>
                  </div>
              </div>
          </div>
            <br>
        </center>
    </main>
    {% endblock content %}