<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- This code is for Google Analytics tools. -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-64B7LMZXKN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-64B7LMZXKN');
    </script>

    <meta name="viewport">
    <meta name="description" content="The documented qualifications of Ben Crittenden.">
    <meta name="keywords" content="Crittenden, Professional, Profile, Resume, Qualifications, Ben Crittenden">
    <meta name="author" content="Ben Crittenden">
    <meta property="og:title" content="Ben Crittenden's Qualifications" />
    <meta property="og:description" content="This page leads to documentation of my qualifications." />

    <!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
    {% extends "projects/base.html" %}
    {% load static %}

    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
    <title>My Résumé</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Ben Crittenden",
        "url": "https://www.bencritt.net",
        "sameAs": [
          "https://www.linkedin.com/in/bencritt/",
          "https://github.com/BenCritt",
          "https://stackoverflow.com/users/21613304/ben-crittenden",
          "https://www.bencritt.com",
          "https://www.bencritt.org",
          "https://www.bencrittenden.com"

        ]
      }
      </script>
  </head>
  <body>
    <br>
    <center>
      <h3>The links below lead to documentation of my qualifications.</h3><br>
      <p>
        <a class = "btn btn-secondary" href = "https://drive.google.com/file/d/10gtfHDHaSBWZE-Yo7kPb6DoMjFCwqA1C/view?usp=drive_link" target="_blank" rel="noopener noreferrer">Résumé</a>
        <a class = "btn btn-secondary" href = "https://drive.google.com/drive/folders/1OEtUG7cDOXsB2OWAuOSbQkT4fl3gwKzj?usp=drive_link" target="_blank" rel="noopener noreferrer">Credentials</a>
        <a class = "btn btn-secondary" href = "https://drive.google.com/drive/folders/0B1zSx21s0Mm8aXpLd2VuMWRHWEk?resourcekey=0-map79EfW6nZXfhSTJFMjiw&usp=drive_link" target="_blank" rel="noopener noreferrer">Transcripts</a>
      </p>
    </center>
  </body>
{% endblock content %}
</html>

