<!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
{% extends "projects/base.html" %}
    {% block extra_head %}
    {{ block.super }}
    <!-- SEO and social media sharing meta tags specific to this page. -->
    {% block meta_tags %}
    <meta name="description" content="This web page contains the documented qualifications of Ben Crittenden.">
    <meta name="keywords" content="Resume, Résumé, Qualifications">
    <meta property="og:title" content="Ben Crittenden's Qualifications" />
    <meta property="og:description" content="This page leads to documentation of my qualifications." />
    {% endblock meta_tags %}
    {% block link_tags %}
    <!-- Canonical URL to help prevent duplicate content issues. -->
    <link rel="canonical" href="https://www.bencritt.net/projects/resume/">
    {% endblock link_tags %}
    <title>{% block title %}My Résumé{% endblock title %}</title>
    {% endblock extra_head %}
    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
      <br>
      <center>
        <h3>The links below lead to documentation of my qualifications.</h3><br>
          <!-- Links to Ben's résumé, credentials, and transcripts. -->
          <p>
            <a class = "btn btn-secondary" href = "https://drive.google.com/file/d/10gtfHDHaSBWZE-Yo7kPb6DoMjFCwqA1C/view?usp=drive_link" target="_blank" rel="noopener noreferrer">Résumé</a>
            <a class = "btn btn-secondary" href = "https://drive.google.com/drive/folders/1OEtUG7cDOXsB2OWAuOSbQkT4fl3gwKzj?usp=drive_link" target="_blank" rel="noopener noreferrer">Credentials</a>
            <a class = "btn btn-secondary" href = "https://drive.google.com/drive/folders/0B1zSx21s0Mm8aXpLd2VuMWRHWEk?resourcekey=0-map79EfW6nZXfhSTJFMjiw&usp=drive_link" target="_blank" rel="noopener noreferrer">Transcripts</a>
          </p>
      </center>
    {% endblock content %}