<!-- This loads the standard navbar, footer, styles, and scripts shared by every webpage on this site. -->
{% extends "projects/base.html" %}
    {% block page_head %}
    {% block scripts %}
    <!-- This is schema to help with SEO. -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "SoftwareApplication",
      "name": "Weather Forecast App",
      "description": "The Weather Forecast App provides detailed weather forecasts based on the user's ZIP code input. It utilizes the Google Maps Platform API to convert ZIP codes into latitude and longitude coordinates and the OpenWeatherMap One Call API to fetch and display weather information.",
      "url": "https://www.bencritt.net/projects/weather/",
      "applicationCategory": "Weather Forecasting Software",
      "operatingSystem": "Web-based",
      "image": "https://i.imgur.com/CAp7t9W.png",
      "creator": {
        "@type": "Person",
        "name": "Ben Crittenden",
        "url": "https://www.bencritt.net"
      },
      "featureList": [
            "Provides accurate and detailed weather forecasts based on user-provided ZIP code inputs, offering localized weather information.",
            "Utilizes the Google Maps Platform API to accurately convert ZIP codes into geographical coordinates, ensuring precise weather data retrieval.",
            "Leverages the OpenWeatherMap One Call API to provide comprehensive weather details, including temperature, precipitation, wind speed, and more.",
            "Displays weather forecasts in a user-friendly interface, allowing users to easily understand and interpret weather conditions.",
            "Web-based application ensures accessibility from any device with an internet connection, facilitating on-the-go weather checks.",
            "Offers real-time weather updates, enabling users to receive the most current weather information available.",
            "Built with a focus on reliability and efficiency, using Python and an object-oriented programming model for optimal performance."
          ]
    }
    </script>
    {% endblock scripts %}    
    {% block styles %}    
    <!-- This prevents the error message from displaying as a bullet point. -->
    <style>
      .errorlist {
      list-style: none; /* Removes bullet points from error messages */
      }
    </style>
    {% endblock styles %}
    {% block meta_tags %}
    <!-- Meta tags providing essential information about the page to search engines. -->
    <meta name="description" content="The Weather Forecast App takes the ZIP code of the area you want forecasted and returns a page containing the information you desire. This app uses two different APIs; the Google Maps Platform API and the OpenWeatherMap One Call API. The former API converts the ZIP code into latitude and longitude coordinates, while the latter takes those coordinates to retrieve the weather forecast for that area.">
    <meta name="keywords" content="Weather, Weather Forecast">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.bencritt.net/projects/weather/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Weather Forecast App">
    <meta property="og:description" content="This weather forecast app takes a ZIP code and returns a forecast and other weather information.">
    <meta property="og:image" content="https://i.imgur.com/CAp7t9W.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bencritt.net">
    <meta property="twitter:url" content="https://www.bencritt.net/projects/weather/">
    <meta name="twitter:title" content="Weather Forecast App">
    <meta name="twitter:description" content="This weather forecast app takes a ZIP code and returns a forecast and other weather information.">
    <meta name="twitter:image" content="https://i.imgur.com/CAp7t9W.png">
    <meta name="twitter:creator" content="@bencritt89"/>
    {% endblock meta_tags %}
    {% block link_tags %}
    <!-- Canonical link to help avoid duplicate content issues. -->
    <link rel="canonical" href="https://www.bencritt.net/projects/weather/">
    {% endblock link_tags %}
    {% block title %}Weather Forecast{% endblock title %}
    {% endblock page_head %}
    <!-- This begins the contents that are unique to this page. -->
    {% block content %}
    <main>
      <br>
      <center>
        <h1>Weather Forecast App</h1>
          <br>
          <!-- Display error messages if any. -->
          {% if error_message %}
          <div class="alert alert-danger" style = "width: 100%; max-width: 750px;">
              {{ error_message }}
          </div>
          {% endif %}
          <!-- Container for the weather forecast form. -->
          <div class = "container" style = "width: 100%; max-width: 750px;">
              <!-- Form to submit the ZIP code for the weather forecast. -->
              <form action="{% url 'projects:weather' %}" method="post">
                  {% csrf_token %} <!-- Protects against Cross-Site Request Forgery (CSRF) by attaching a unique security token to the form. -->
                  {{ form.as_p }} <!-- Render form fields as paragraphs -->
                  <input type="submit" value="Submit">
              </form>
          </div>
          <br><br>
          <!-- Link to the GitHub repository for the project. -->
          <a href = "https://github.com/BenCritt/Weather_Forecast_App" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="View the source code for this app."><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg></a>
      </center>
    {% endblock content %}