{% extends "projects/base.html" %}
{% load static %}
{% block scripts %}
  {% include "includes/schemas/xml_splitter_schema.html" %}
{% endblock scripts %}    

{% block meta_tags %}
    {% include "includes/meta_tags/xml_splitter_meta.html" %}
{% endblock meta_tags %}

{% block link_tags %}
    {{ block.super }}
    <link rel="canonical" href="https://www.bencritt.net/projects/xml-splitter/">
{% endblock link_tags %}

{% block page_stylesheets %}
    <link href="{% static 'template_css/xml_splitter.css' %}" rel="stylesheet">
{% endblock page_stylesheets %}

{% block title %}XML Splitter | Split and Compress XML Files{% endblock title %}

{% block content %}
<div class="d-flex flex-column align-items-center w-100 px-4">
    <div class="w-100 text-center xml-splitter-container">
        <h1 class="mb-4">XML Splitter</h1>
        
        <p class="mb-5">
            The XML Splitter takes an XML file containing multiple objects nested under one root (e.g.&nbsp;<code>&lt;Order&gt;</code>, <code>&lt;Product&gt;</code>,&nbsp;<code>&lt;Customer&gt;</code>, etc.) and splits them into individual XML files, with each object becoming its own XML file. These files are put into a ZIP folder and served to your default Downloads folder.
        </p>

        <form method="post" enctype="multipart/form-data" class="d-grid gap-4">
            {% csrf_token %}
            
            <div class="d-flex flex-column align-items-center">
                <div class="mb-2">
                    {{ form.file.label_tag }}
                </div>
                
                <div class="w-100">
                    {{ form.file }}
                </div>

                {% if form.file.errors %}
                    <div class="mt-2 text-danger" role="alert">
                        {{ form.file.errors.0 }}
                    </div>
                {% endif %}
            </div>
          
            <button type="submit" class="btn btn-primary w-100">
                Split XML File &amp; Download ZIP Folder
            </button>

            <p class="small text-muted mt-3">
                Disclaimer: No data from the XML files uploaded to this website is captured. The XML file briefly exists in memory while processing. Once the ZIP folder is served to the user's default downloads folder, the file no longer exists on the server.
            </p>
        </form>
    </div>
    
    <div class="mt-5">
        {% include 'includes/attribution.html' %}
    </div>
</div>
{% endblock %}